@inherits ComponentBase

            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title text-center">
                            @Title 
                        </h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-center">@Description</p>
                    </div>
                </div>
            </div>
